{% extends "base.html" %}
{% block content %}
    <div class="container is-fluid">
        <a href="/"><button class="button is-dark">Home</button></a>
        <button class="button is-dark " id="insertbook">Insert Books</button>
        <br><br>
    <table class="table is-hoverable is-fullwidth" id="example">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Pages</th>
                <th>Rating</th>
                <th>Stock</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <th>{{row[0]}}</th>
                <th>{{row[1]}}</th>
                <th>{{row[2]}}</th>
                <th>{{row[3]}}</th>
                <th>{{row[4]}}</th>
                <th>{{row[5]}}</th>
                <th>{{row[6]}}</th>
                <th>
                    <a class="edit {{row[0]}} {{row[6]}} editbook" ><i class="fas fa-edit fa-lg"></i></a>
                
                    <a class="deletedbook" id="{{row[0]}}" type="submit" ><i class="fas fa-trash fa-lg"></i></a>
                </th>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>



    <div class="modal" id="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <form  method="POST">
            <button class="button is-large modal-close btnclose" ></button>
            <div class="field">
                <label for="name" style="color: white;" class="label">NAme</label>
                <div class="control">
                    <input type="text" id="textname" name="name"  class="input" placeholder="ENTR NAME" required>
                </div>    
            </div>
            <div class="field">
                <label for="email" style="color: white;" class="label">Email</label>
                <div class="control">
                    <input type="email" id="textmail"  name="em"  class="input" placeholder="hello@" required >
                </div>    
            </div>
            <div class="field">
                <label for="pnum" style="color: white;"  class="label" >Phone Number</label>
                <div class="control">
                    <input type="tel" id="pnum"  class="input" name='pnum' placeholder="ENTR Number" required>
                </div>    
            </div>
            <div class="field">
                <label for="id" style="color: white;" class="label">ID</label>
                <div class="control">
                    <input type="number" id="id" name='id'  class="input" placeholder="ENTR ID" required>
                </div>    
            </div>
            <div class="field is-grouped">
                <div class="control">
                  <button type="submit" class="button is-link add" value="Submit">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light btnclose">Cancel</button>
                </div>
              </div>
            </form>
        </div>

    </div>
</div>
<div class="modal" id="modal1">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form action="/books" method="POST">
        <button class="button is-large modal-close btnclose" ></button>

        <div class="field">
            <label for="isbn" style="color: white;"  class="label" >ISBN</label>
            <div class="control">
                <input  id="isbn"  class="input" name='isbn' readonly>
            </div>    
        </div>
        <div class="field">
            <label for="stock" style="color: white;" class="label">Enter updated stock</label>
            <div class="control">
                <input type="number" id="stock" name='stock'  class="input" >
            </div>    
        </div>
        <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link btneditbook" value="Submit">Submit</button>
            </div>
            <div class="control">
              <button class="button is-link is-light btnclosedbook">Cancel</button>
            </div>
          </div>
        </form>
    </div>

</div>
</div>
{% endblock %}