{% extends "base.html" %} {% block content %}
<div class="container is-fluid">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %} {% if message == "Thanks For Waiting !!!" %}
    <div class="notification is-success " role="alert">
        <button type="button" class="delete deletenotification" data-dismiss="alert" aria-label="Close">Close</button> {{message}}
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <a href="/"><button class="button is-dark">Home</button></a>
    <button class="button is-dark " id="insertbook">Insert Books</button>
    <br><br>
    <table class="table is-hoverable is-fullwidth" id="example">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Publisher</th>
                <th>Pages</th>
                <th>Rating</th>
                <th>Stock</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <th>{{row[0]}}</th>
                <th>{{row[1]}}</th>
                <th>{{row[2]}}</th>
                <th>{{row[3]}}</th>
                <th>{{row[4]}}</th>
                <th>{{row[5]}}</th>
                <th>{{row[6]}}</th>
                <th>
                    <a class="edit {{row[0]}} {{row[6]}} editbook"><i class="fas fa-edit fa-lg"></i></a>

                    <a class="deletedbook" id="{{row[0]}}" type="submit"><i class="fas fa-trash fa-lg"></i></a>
                </th>
            </tr>
            {% endfor %}

        </tbody>
    </table>



    <div class="modal" id="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <form method="POST">
                <button class="button is-large modal-close btnclose"></button>
                <h1> <strong style="color: white;"> Please enter a page number , so that the books in this page can be inserted from the Frappe API. Note that each page have approximately 20 books each. The API has 200 pages.</strong></h1>
                <br>
                <div class="field">
                    <label for="starting" style=" color: white; " class="label">Page Number</label>
                    <div class="control ">
                        <input type="text " id="starting" name="starting" class="input " placeholder="Starting Page " required>
                    </div>
                </div>
                <div class="field is-grouped ">
                    <div class="control ">
                        <button type="submit" class="button is-link addbooks" value="Submit ">Submit</button>
                    </div>
                    <div class="control ">
                        <button class="button is-link is-light btnclosedbook">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
<div class="modal " id="modal1 ">
    <div class="modal-background "></div>
    <div class="modal-content ">
        <form action="/books " method="POST ">
            <button class="button is-large modal-close btnclose "></button>

            <div class="field ">
                <label for="isbn " style="color: white; " class="label ">ISBN</label>
                <div class="control ">
                    <input id="isbn " class="input " name='isbn' readonly>
                </div>
            </div>
            <div class="field ">
                <label for="stock " style="color: white; " class="label ">Enter updated stock</label>
                <div class="control ">
                    <input type="number " id="stock " name='stock' class="input ">
                </div>
            </div>
            <div class="field is-grouped ">
                <div class="control ">
                    <button type="submit " class="button is-link btneditbook " value="Submit ">Submit</button>
                </div>
                <div class="control ">
                    <button class="button is-link is-light btnclosedbook ">Cancel</button>
                </div>
            </div>
        </form>
    </div>

</div>
</div>
{% endblock %}