<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <title>Library</title>
</head>

<body>
    <div>
        <nav style="height: 150px;" class="navbar is-danger is-spaced is-fixed-top">
            <h1 class="is-size-1 has-text-weight-normal pt-4 is-family-monospace"> Library Management System</h1>
        </nav>
    </div>
    <br><br><br><br><br><br><br><br>
    <div class="container is-fluid">
        <div class="buttons is-centered ">
            <a href="books"><button style="width: 300px; height: 150px;"  class="mr-6 mt-6 button is-large is-hovered is-dark is-size-1">Books</button></a>
            <a href="members"><button style="width: 300px; height: 150px;"  class="mr-6 mt-6 button is-large is-hovered is-dark is-size-1">Members</button></a>
        </div>
        <br>
        <div class="buttons is-centered ">
            <a href="transactions"><button style="width: 300px; height: 150px;" class=" mt-6 mr-6 button is-large is-hovered is-dark is-size-1">Transactions</button></a>
            <a href="reports"><button style="width: 300px; height: 150px;"  class="  mr-6 mt-6 button is-large is-hovered is-dark is-size-1">Reports</button></a>
        </div>
    </div>
</body>

</html>